__pycache__/
cron/
newsletter/
run-paper-trackr.sh
accounts.yml
history.csv
articles.db
search_queries.yml

# release script
release.sh

# build artifacts
build/
dist/
*.egg-info/

# scitldr vocab, model and inferences
vocab.bpe
encoder.json
dict.txt
scitldr_bart-xsum.tldr-ao.pt
paper-trackr.tldr 
paper-trackr_abstracts-bin/
paper-trackr_abstracts/
